<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Not Found</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/oops.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div class="error-404">
    <div class="error-code m-b-10 m-t-20">Oops 😰!<i class="fa fa-warning"></i></div>
    <h2 class="font-bold">Match Not Found.</h2>

    <div class="error-desc">
        We have not any product in this match.Sorry, for this.<br />
        Click the button below to go back to the Homepage.Search for another match.
        <div><br />
            <a href="/home/<%=name%>" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
        </div>
    </div>
</div>
</body>

